
extends layout

block content
	nav.navbar.navbar-expand.navbar-light.bg-light
		.nav-item
			.navbar-brand Product Management

				.btm-links
				#forgot-password
					a(href='/home') Add Item
			


		.navbar-nav.ml-auto
			.nav-item
				button.btn.navbar-btn.btn-outline-dark#btn-logout Sign Out
			
	div.container(style='margin:5px auto')

		button.btn.navbar-btn.btn-outline-primary#btn-logout Update Change
		<hr/>
		table.table.table-bordered.table-striped
	
			thead.thead-dark
				tr
					th(style='width:50px;text-align:center') #
					
					th(style='width:220px') Item name
					th(style='width:240px') Describtion
					th(style='width:100px') price
					th(style='width:100px') Qty
					th(style='width:100px') image						
					th(style='width:100px')
		
							
				tbody
			- for (var i = 0; i < accts.length; i++)
				tr
					td(style='text-align:center')= i+1
					td(contenteditable='true')= accts[i].item_name
					td(contenteditable='true')= accts[i].describtion
					td(contenteditable='true')= accts[i].price 
					td(contenteditable='true')= accts[i].qty
					td(contenteditable='true')= accts[i].image 
					td(contenteditable='true')
					


		
				

block scripts
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')
	script(src='/js/views/signup.js')
	script(src='/js/controllers/signupController.js')
	script(src='/js/form-validators/accountValidator.js')